# Merge notbook
The final aim of this notebook ara based on the necessity to have 2 final dataframe:
1. DF with all details available in term of *RACES*
2. DF with all details available in term of *LAPS*

The DF2 it's join of DF1 with Lap_time.csv

## Import dependecies

In [1]:
import pandas as pd
import yaml
import os
import datetime
import numpy as np

In [2]:
os.chdir("..")

## Read config

In [3]:
# Leggi il file YAML come dizionario
with open(f"config/main.yaml", 'r') as f:
    config = yaml.safe_load(f)

In [4]:
config

{'raw': {'circuits': {'path': 'data/raw/circuits.csv'},
  'constructor_results': {'path': 'data/raw/constructor_results.csv'},
  'constructor_standings': {'path': 'data/raw/constructor_standings.csv'},
  'constructors': {'path': 'data/raw/constructors.csv'},
  'drivers': {'path': 'data/raw/drivers.csv'},
  'driver_standings': {'path': 'data/raw/driver_standings.csv'},
  'lap_times': {'path': 'data/raw/lap_times.csv'},
  'pit_stops': {'path': 'data/raw/pit_stops.csv'},
  'qualifying': {'path': 'data/raw/qualifying.csv'},
  'races': {'path': 'data/raw/races.csv'},
  'results': {'path': 'data/raw/results.csv'},
  'seasons': {'path': 'data/raw/seasons.csv'},
  'sprint_results': {'path': 'data/raw/sprint_results.csv'},
  'status': {'path': 'data/raw/status.csv'}},
 'processed': {'races_grouped': {'path': 'data/raw/races_grouped_13_05_2023.xlsx'}},
 'final': {'path': 'data/final/final.csv'}}

## Start merges

In [5]:
# read results dataframe
results_df = pd.read_csv(config['raw']['results']['path'],sep=",")
results_df.columns = [str(col) + '_results' for col in results_df.columns]

#read results dataframe
status_df = pd.read_csv(config['raw']['status']['path'],sep=",")
status_df.columns = [str(col) + '_status' for col in status_df.columns]


results_df= results_df.merge(status_df,left_on="statusId_results",right_on="statusId_status")
print(results_df.shape)
print(results_df.columns)


qualy_df = pd.read_csv(config['raw']['qualifying']['path'],sep=",")
qualy_df.columns = [str(col) + '_qualy' for col in qualy_df.columns]
results_df= results_df.merge(qualy_df,left_on=["raceId_results","driverId_results","constructorId_results"],right_on=["raceId_qualy","driverId_qualy","constructorId_qualy"],how="left")
print(results_df.shape)
print(results_df.columns)

(25840, 20)
Index(['resultId_results', 'raceId_results', 'driverId_results',
       'constructorId_results', 'number_results', 'grid_results',
       'position_results', 'positionText_results', 'positionOrder_results',
       'points_results', 'laps_results', 'time_results',
       'milliseconds_results', 'fastestLap_results', 'rank_results',
       'fastestLapTime_results', 'fastestLapSpeed_results', 'statusId_results',
       'statusId_status', 'status_status'],
      dtype='object')
(25840, 29)
Index(['resultId_results', 'raceId_results', 'driverId_results',
       'constructorId_results', 'number_results', 'grid_results',
       'position_results', 'positionText_results', 'positionOrder_results',
       'points_results', 'laps_results', 'time_results',
       'milliseconds_results', 'fastestLap_results', 'rank_results',
       'fastestLapTime_results', 'fastestLapSpeed_results', 'statusId_results',
       'statusId_status', 'status_status', 'qualifyId_qualy', 'raceId_qualy',
       'driverId_qualy', 'constructorId_qualy', 'number_qualy',
       'position_qualy', 'q1_qualy', 'q2_qualy', 'q3_qualy'],
      dtype='object')

In [6]:
race_df = pd.read_csv(config['raw']['races']['path'],sep=",")
race_df.columns = [str(col) + '_race' for col in race_df.columns]
results_df= results_df.merge(race_df[["raceId_race","year_race","round_race","date_race","circuitId_race"]],left_on=["raceId_results"],right_on=["raceId_race"],how="left")
print(results_df.shape)
print(results_df.columns)

(25840, 34)
Index(['resultId_results', 'raceId_results', 'driverId_results',
       'constructorId_results', 'number_results', 'grid_results',
       'position_results', 'positionText_results', 'positionOrder_results',
       'points_results', 'laps_results', 'time_results',
       'milliseconds_results', 'fastestLap_results', 'rank_results',
       'fastestLapTime_results', 'fastestLapSpeed_results', 'statusId_results',
       'statusId_status', 'status_status', 'qualifyId_qualy', 'raceId_qualy',
       'driverId_qualy', 'constructorId_qualy', 'number_qualy',
       'position_qualy', 'q1_qualy', 'q2_qualy', 'q3_qualy', 'raceId_race',
       'year_race', 'round_race', 'date_race', 'circuitId_race'],
      dtype='object')

In [7]:
circuit_df = pd.read_csv(config['raw']['circuits']['path'],sep=",")
circuit_df.columns = [str(col) + '_circuit' for col in circuit_df.columns]
results_df= results_df.merge(circuit_df[["circuitId_circuit","location_circuit","country_circuit"]],left_on=["circuitId_race"],right_on=["circuitId_circuit"],how="left")
print(results_df.shape)
print(results_df.columns)

(25840, 37)
Index(['resultId_results', 'raceId_results', 'driverId_results',
       'constructorId_results', 'number_results', 'grid_results',
       'position_results', 'positionText_results', 'positionOrder_results',
       'points_results', 'laps_results', 'time_results',
       'milliseconds_results', 'fastestLap_results', 'rank_results',
       'fastestLapTime_results', 'fastestLapSpeed_results', 'statusId_results',
       'statusId_status', 'status_status', 'qualifyId_qualy', 'raceId_qualy',
       'driverId_qualy', 'constructorId_qualy', 'number_qualy',
       'position_qualy', 'q1_qualy', 'q2_qualy', 'q3_qualy', 'raceId_race',
       'year_race', 'round_race', 'date_race', 'circuitId_race',
       'circuitId_circuit', 'location_circuit', 'country_circuit'],
      dtype='object')

In [8]:
constr_res_df = pd.read_csv(config['raw']['constructor_results']['path'],sep=",")
constr_res_df.columns = [str(col) + '_contr_res' for col in constr_res_df.columns]
results_df= results_df.merge(constr_res_df,left_on=["raceId_results","constructorId_results"],right_on=["raceId_contr_res","constructorId_contr_res"],how="left")
print(results_df.shape)
print(results_df.columns)

(25840, 42)
Index(['resultId_results', 'raceId_results', 'driverId_results',
       'constructorId_results', 'number_results', 'grid_results',
       'position_results', 'positionText_results', 'positionOrder_results',
       'points_results', 'laps_results', 'time_results',
       'milliseconds_results', 'fastestLap_results', 'rank_results',
       'fastestLapTime_results', 'fastestLapSpeed_results', 'statusId_results',
       'statusId_status', 'status_status', 'qualifyId_qualy', 'raceId_qualy',
       'driverId_qualy', 'constructorId_qualy', 'number_qualy',
       'position_qualy', 'q1_qualy', 'q2_qualy', 'q3_qualy', 'raceId_race',
       'year_race', 'round_race', 'date_race', 'circuitId_race',
       'circuitId_circuit', 'location_circuit', 'country_circuit',
       'constructorResultsId_contr_res', 'raceId_contr_res',
       'constructorId_contr_res', 'points_contr_res', 'status_contr_res'],
      dtype='object')

In [9]:
constr_std_df = pd.read_csv(config['raw']['constructor_standings']['path'],sep=",")
constr_std_df.columns = [str(col) + '_constr_std' for col in constr_std_df.columns]
results_df= results_df.merge(constr_std_df,left_on=["raceId_results","constructorId_results"],right_on=["raceId_constr_std","constructorId_constr_std"],how="left")
print(results_df.shape)
print(results_df.columns)

(25840, 49)
Index(['resultId_results', 'raceId_results', 'driverId_results',
       'constructorId_results', 'number_results', 'grid_results',
       'position_results', 'positionText_results', 'positionOrder_results',
       'points_results', 'laps_results', 'time_results',
       'milliseconds_results', 'fastestLap_results', 'rank_results',
       'fastestLapTime_results', 'fastestLapSpeed_results', 'statusId_results',
       'statusId_status', 'status_status', 'qualifyId_qualy', 'raceId_qualy',
       'driverId_qualy', 'constructorId_qualy', 'number_qualy',
       'position_qualy', 'q1_qualy', 'q2_qualy', 'q3_qualy', 'raceId_race',
       'year_race', 'round_race', 'date_race', 'circuitId_race',
       'circuitId_circuit', 'location_circuit', 'country_circuit',
       'constructorResultsId_contr_res', 'raceId_contr_res',
       'constructorId_contr_res', 'points_contr_res', 'status_contr_res',
       'constructorStandingsId_constr_std', 'raceId_constr_std',
       'constructorId_constr_std', 'points_constr_std', 'position_constr_std',
       'positionText_constr_std', 'wins_constr_std'],
      dtype='object')

In [10]:
constr_df = pd.read_csv(config['raw']['constructors']['path'],sep=",")
constr_df.columns = [str(col) + '_constr' for col in constr_df.columns]
results_df= results_df.merge(constr_df[["constructorId_constr","constructorRef_constr","nationality_constr"]],left_on=["constructorId_results"],right_on=["constructorId_constr"],how="left")
print(results_df.shape)
print(results_df.columns)

(25840, 52)
Index(['resultId_results', 'raceId_results', 'driverId_results',
       'constructorId_results', 'number_results', 'grid_results',
       'position_results', 'positionText_results', 'positionOrder_results',
       'points_results', 'laps_results', 'time_results',
       'milliseconds_results', 'fastestLap_results', 'rank_results',
       'fastestLapTime_results', 'fastestLapSpeed_results', 'statusId_results',
       'statusId_status', 'status_status', 'qualifyId_qualy', 'raceId_qualy',
       'driverId_qualy', 'constructorId_qualy', 'number_qualy',
       'position_qualy', 'q1_qualy', 'q2_qualy', 'q3_qualy', 'raceId_race',
       'year_race', 'round_race', 'date_race', 'circuitId_race',
       'circuitId_circuit', 'location_circuit', 'country_circuit',
       'constructorResultsId_contr_res', 'raceId_contr_res',
       'constructorId_contr_res', 'points_contr_res', 'status_contr_res',
       'constructorStandingsId_constr_std', 'raceId_constr_std',
       'constructorId_constr_std', 'points_constr_std', 'position_constr_std',
       'positionText_constr_std', 'wins_constr_std', 'constructorId_constr',
       'constructorRef_constr', 'nationality_constr'],
      dtype='object')

In [11]:
driver_df = pd.read_csv(config['raw']['drivers']['path'],sep=",")
driver_df.columns = [str(col) + '_driver' for col in driver_df.columns]
results_df= results_df.merge(driver_df,left_on=["driverId_results"],right_on=["driverId_driver"],how="left")
print(results_df.shape)
print(results_df.columns)

(25840, 61)
Index(['resultId_results', 'raceId_results', 'driverId_results',
       'constructorId_results', 'number_results', 'grid_results',
       'position_results', 'positionText_results', 'positionOrder_results',
       'points_results', 'laps_results', 'time_results',
       'milliseconds_results', 'fastestLap_results', 'rank_results',
       'fastestLapTime_results', 'fastestLapSpeed_results', 'statusId_results',
       'statusId_status', 'status_status', 'qualifyId_qualy', 'raceId_qualy',
       'driverId_qualy', 'constructorId_qualy', 'number_qualy',
       'position_qualy', 'q1_qualy', 'q2_qualy', 'q3_qualy', 'raceId_race',
       'year_race', 'round_race', 'date_race', 'circuitId_race',
       'circuitId_circuit', 'location_circuit', 'country_circuit',
       'constructorResultsId_contr_res', 'raceId_contr_res',
       'constructorId_contr_res', 'points_contr_res', 'status_contr_res',
       'constructorStandingsId_constr_std', 'raceId_constr_std',
       'constructorId_constr_std', 'points_constr_std', 'position_constr_std',
       'positionText_constr_std', 'wins_constr_std', 'constructorId_constr',
       'constructorRef_constr', 'nationality_constr', 'driverId_driver',
       'driverRef_driver', 'number_driver', 'code_driver', 'forename_driver',
       'surname_driver', 'dob_driver', 'nationality_driver', 'url_driver'],
      dtype='object')

In [12]:
driver_st_df = pd.read_csv(config['raw']['driver_standings']['path'],sep=",")
driver_st_df.columns = [str(col) + '_driver_st' for col in driver_st_df.columns]
results_df= results_df.merge(driver_st_df,left_on=["raceId_results","driverId_results"],right_on=["raceId_driver_st","driverId_driver_st"],how="left")
print(results_df.shape)

(25840, 68)

In [13]:
lap_df = pd.read_csv(config['raw']['lap_times']['path'],sep=",")
lap_df.columns = [str(col) + '_lap' for col in lap_df.columns]
results_df= results_df.merge(lap_df,left_on=["raceId_results","driverId_results"],right_on=["raceId_lap","driverId_lap"],how="right")
results_df=results_df.drop(["time_lap","raceId_lap","driverId_lap"],axis=1)
print(results_df.shape)

(538121, 71)

In [13]:
results_df=results_df[['date_race','year_race', 'round_race', 'location_circuit', 'country_circuit',
            'driverRef_driver','dob_driver', 'nationality_driver','points_driver_st', 'position_driver_st','wins_driver_st',
            'number_results', 'grid_results', 'position_results','points_results', 'laps_results', 'milliseconds_results', 'fastestLap_results', 'rank_results','fastestLapTime_results', 'fastestLapSpeed_results', 'status_status', 
            'constructorRef_constr','points_contr_res','points_constr_std', 'position_constr_std', 'wins_constr_std','nationality_constr',
            'number_qualy','position_qualy', 'q1_qualy', 'q2_qualy', 'q3_qualy', 'resultId_results', 'raceId_results', 'driverId_results','constructorId_results',
            ]]#'milliseconds_lap','lap_lap','position_lap']]
results_df.head()

,date_race,year_race,round_race,location_circuit,country_circuit,driverRef_driver,dob_driver,nationality_driver,points_driver_st,position_driver_st,...,nationality_constr,number_qualy,position_qualy,q1_qualy,q2_qualy,q3_qualy,resultId_results,raceId_results,driverId_results,constructorId_results
0,2008-03-16,2008,1,Melbourne,Australia,hamilton,1985-01-07,British,10.0,1.0,...,British,22.0,1.0,1:26.572,1:25.187,1:26.714,1,18,1,1
1,2008-03-16,2008,1,Melbourne,Australia,heidfeld,1977-05-10,German,8.0,2.0,...,German,3.0,5.0,1:25.960,1:25.518,1:27.236,2,18,2,2
2,2008-03-16,2008,1,Melbourne,Australia,rosberg,1985-06-27,German,6.0,3.0,...,British,7.0,7.0,1:26.295,1:26.059,1:28.687,3,18,3,3
3,2008-03-16,2008,1,Melbourne,Australia,alonso,1981-07-29,Spanish,5.0,4.0,...,French,5.0,12.0,1:26.907,1:26.188,\N,4,18,4,4
4,2008-03-16,2008,1,Melbourne,Australia,kovalainen,1981-10-19,Finnish,4.0,5.0,...,British,23.0,3.0,1:25.664,1:25.452,1:27.079,5,18,5,1

In [14]:
results_df['date_race'] = pd.to_datetime(results_df['date_race'], format='%Y/%m/%d')
results_df['dob_driver'] = pd.to_datetime(results_df['dob_driver'], format='%Y/%m/%d')

In [15]:
for col in results_df.columns:
    print('---')
    print(f'\tColonna: {col}')
    print(f'\tValori unici: {results_df[col].value_counts()}')
    #print(f'\tDescrizione: {results_df[col].describe()}')
    print(f'\tNumero di NaN: {results_df[col].isna().sum()}')

    if results_df[col].isnull().any():
        print(f"\t\tFirst null value found in {col}: {results_df[col].loc[results_df[col].isnull()].index[0]}")
    print('---')

---
	Colonna: date_race
	Valori unici: 1954-05-31    55
1953-05-30    47
1989-08-27    39
1989-04-23    39
1989-06-18    39
              ..
1982-04-25    14
1968-05-12    14
1951-06-17    13
1969-07-06    13
1958-01-19    10
Name: date_race, Length: 1079, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: year_race
	Valori unici: 1989    620
1990    542
1991    539
1988    495
2012    480
       ...
1951    179
1969    177
1957    171
1966    166
1950    160
Name: year_race, Length: 73, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: round_race
	Valori unici: 2     1800
6     1771
7     1769
5     1762
3     1754
8     1701
1     1698
4     1696
9     1585
10    1495
11    1385
12    1315
13    1262
14    1235
15    1160
16    1021
17     531
18     336
19     276
20     146
21     102
22      40
Name: round_race, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: location_circuit
	Valori unici: Monza          1796
Monte-Carlo    1624
Silverstone    1396
Spa            1218
Montreal       1012
               ...
Florida          19
Lisbon           16
Pescara          16
Berlin           15
Le Mans          15
Name: location_circuit, Length: 74, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: country_circuit
	Valori unici: Italy           2587
UK              1934
USA             1931
Germany         1926
Monaco          1624
Belgium         1557
France          1513
Spain           1398
Canada          1251
Brazil          1183
Japan            894
Austria          881
Hungary          871
Australia        850
Netherlands      727
South Africa     581
Mexico           518
Portugal         453
Argentina        448
Malaysia         412
Bahrain          400
China            342
UAE              296
Singapore        278
Turkey           192
Russia           163
Sweden           159
Azerbaijan       122
Switzerland      100
Korea             94
India             70
Saudi Arabia      40
Morocco           25
Qatar             20
Name: country_circuit, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: driverRef_driver
	Valori unici: alonso         358
raikkonen      352
barrichello    326
hamilton       310
button         309
              ...
karch            1
vyver            1
milhoux          1
jover            1
botha            1
Name: driverRef_driver, Length: 855, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: dob_driver
	Valori unici: 1981-07-29    358
1979-10-17    352
1972-05-23    326
1985-01-07    310
1980-01-19    309
             ...
1928-08-04      1
1944-04-19      1
1898-08-18      1
1933-06-21      1
1932-03-17      1
Name: dob_driver, Length: 837, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: nationality_driver
	Valori unici: British              4418
Italian              3418
French               3004
German               2384
Brazilian            1953
American             1279
Finnish              1147
Spanish               822
Australian            821
Austrian              690
Japanese              635
Belgian               591
Swedish               510
Swiss                 496
Dutch                 480
Canadian              452
Mexican               422
New Zealander         396
Argentine             373
Russian               213
South African         210
Danish                177
Monegasque            132
Colombian             125
Venezuelan            120
Polish                 99
Irish                  92
Portuguese             87
Thai                   78
Indian                 59
Chilean                37
Chinese                22
Hungarian              20
Rhodesian              18
Malaysian              16
Liechtensteiner        13
Indonesian             12
Uruguayan               7
East German             5
Czech                   3
American-Italian        2
Argentine-Italian       2
Name: nationality_driver, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: points_driver_st
	Valori unici: 0.0      9450
1.0      1358
2.0      1193
3.0      1055
4.0      1037
         ...
139.5       1
130.5       1
296.0       1
276.0       1
28.5        1
Name: points_driver_st, Length: 418, dtype: int64
	Numero di NaN: 469
		First null value found in points_driver_st: 10935
---
---
	Colonna: position_driver_st
	Valori unici: 2.0      1065
3.0      1062
1.0      1059
4.0      1054
6.0      1028
         ...
85.0        1
92.0        1
86.0        1
105.0       1
93.0        1
Name: position_driver_st, Length: 97, dtype: int64
	Numero di NaN: 469
		First null value found in position_driver_st: 10935
---
---
	Colonna: wins_driver_st
	Valori unici: 0.0     21499
1.0      1923
2.0       822
3.0       417
4.0       245
5.0       163
6.0       125
7.0        59
8.0        36
9.0        36
10.0       20
11.0       13
12.0        6
13.0        4
14.0        2
15.0        1
Name: wins_driver_st, dtype: int64
	Numero di NaN: 469
		First null value found in wins_driver_st: 10935
---
---
	Colonna: number_results
	Valori unici: 6      994
8      993
4      973
3      969
16     959
      ...
135      1
113      1
112      1
118      1
105      1
Name: number_results, Length: 130, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: grid_results
	Valori unici: 0     1609
1     1090
7     1089
11    1086
4     1086
5     1086
9     1086
3     1084
10    1084
8     1083
12    1081
2     1080
13    1079
6     1079
14    1074
15    1067
16    1054
17    1043
18    1006
19     992
20     949
21     697
22     656
23     453
24     429
25     301
26     248
27      46
28      30
29      25
30      19
31      18
32      17
33      13
34       1
Name: grid_results, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: position_results
	Valori unici: \N    10851
3      1089
4      1089
2      1087
5      1085
1      1082
6      1078
7      1058
8      1030
9       992
10      932
11      855
12      754
13      667
14      559
15      483
16      393
17      297
18      196
19      125
20       65
21       34
22       19
23        8
24        3
33        1
28        1
29        1
26        1
32        1
25        1
30        1
27        1
31        1
Name: position_results, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: points_results
	Valori unici: 0.00     18130
2.00      1079
4.00      1067
6.00      1048
1.00      1022
3.00       823
10.00      569
9.00       442
8.00       430
12.00      251
15.00      249
18.00      240
25.00      232
5.00       134
26.00       25
1.50        17
19.00       17
7.00        13
16.00        9
13.00        7
0.50         6
11.00        6
4.50         4
1.33         3
8.50         2
6.50         2
20.00        1
7.50         1
30.00        1
6.14         1
36.00        1
24.00        1
50.00        1
3.50         1
4.14         1
12.50        1
3.14         1
2.50         1
8.14         1
Name: points_results, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: laps_results
	Valori unici: 0      2507
70      921
53      903
52      770
56      740
       ...
163       1
147       1
150       1
173       1
189       1
Name: laps_results, Length: 172, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: milliseconds_results
	Valori unici: \N          18753
14259460        5
10928200        3
4584572         2
6034426         2
            ...
4941432         1
6328364         1
8786200         1
5084802         1
6228856         1
Name: milliseconds_results, Length: 7051, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: fastestLap_results
	Valori unici: \N    18461
50      267
52      259
53      257
51      238
      ...
77       12
78        6
73        5
80        3
85        2
Name: fastestLap_results, Length: 80, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: rank_results
	Valori unici: \N    18249
1       365
5       365
2       365
6       365
3       365
4       365
13      364
9       364
7       364
11      364
10      364
12      364
8       363
14      363
15      362
16      361
17      355
18      346
19      311
20      260
0       212
21      122
22       91
23       43
24       28
Name: rank_results, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: fastestLapTime_results
	Valori unici: \N          18461
1:43.026        4
1:18.262        4
1:17.495        4
1:16.802        3
            ...
1:26.418        1
1:54.203        1
1:39.639        1
1:44.103        1
1:35.924        1
Name: fastestLapTime_results, Length: 6772, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: fastestLapSpeed_results
	Valori unici: \N         18461
217.668        3
220.611        3
201.527        3
210.022        3
           ...
174.289        1
216.197        1
200.712        1
202.077        1
162.158        1
Name: fastestLapSpeed_results, Length: 6938, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: status_status
	Valori unici: Finished          7083
+1 Lap            3850
Engine            2011
+2 Laps           1593
Accident          1044
                  ...
Seat                 1
Safety belt          1
Debris               1
Cooling system       1
Refuelling           1
Name: status_status, Length: 137, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: constructorRef_constr
	Valori unici: ferrari           2347
mclaren           1831
williams          1585
tyrrell            881
team_lotus         871
                  ...
bugatti              1
arzani-volpini       1
apollon              1
rae                  1
langley              1
Name: constructorRef_constr, Length: 210, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: points_contr_res
	Valori unici: 0.0     12835
1.0      1342
2.0      1338
6.0      1264
4.0      1247
3.0      1179
9.0       898
10.0      633
8.0       507
5.0       300
12.0      256
15.0      256
18.0      222
14.0      202
16.0      198
7.0       184
43.0      140
13.0      136
25.0      128
22.0       94
11.0       92
33.0       88
27.0       86
40.0       78
37.0       64
30.0       58
26.0       52
23.0       46
20.0       44
28.0       36
35.0       34
19.0       34
31.0       24
44.0       22
34.0       18
21.0       18
41.0       16
29.0       16
1.5        10
24.0       10
17.0       10
38.0       10
4.5         8
0.5         6
32.0        4
58.0        4
36.0        4
2.5         4
7.5         2
45.0        2
66.0        2
12.5        2
5.5         2
50.0        2
Name: points_contr_res, dtype: int64
	Numero di NaN: 1573
		First null value found in points_contr_res: 4049
---
---
	Colonna: points_constr_std
	Valori unici: 0.0      5427
1.0      1072
3.0       906
2.0       806
6.0       788
         ...
333.0       2
368.0       2
83.5        2
620.0       2
8.5         1
Name: points_constr_std, Length: 539, dtype: int64
	Numero di NaN: 1867
		First null value found in points_constr_std: 3989
---
---
	Colonna: position_constr_std
	Valori unici: 1.0     2253
2.0     2241
3.0     2194
4.0     2142
5.0     2115
6.0     2007
7.0     1923
8.0     1868
9.0     1782
10.0    1703
11.0    1138
12.0     666
13.0     503
14.0     450
15.0     345
16.0     227
17.0     204
18.0     124
19.0      66
20.0      21
21.0       1
Name: position_constr_std, dtype: int64
	Numero di NaN: 1867
		First null value found in position_constr_std: 3989
---
---
	Colonna: wins_constr_std
	Valori unici: 0.0     17746
1.0      2435
2.0      1180
3.0       794
4.0       521
5.0       361
6.0       300
7.0       184
8.0       136
9.0        86
10.0       76
11.0       44
12.0       30
13.0       24
14.0       20
15.0       18
16.0       10
17.0        4
19.0        2
18.0        2
Name: wins_constr_std, dtype: int64
	Numero di NaN: 1867
		First null value found in wins_constr_std: 3989
---
---
	Colonna: nationality_constr
	Valori unici: British          11973
Italian           5594
French            2323
Swiss             1204
German             999
American           795
Austrian           696
Japanese           521
Irish              500
Indian             424
Malaysian          188
Brazilian          155
Russian            137
Spanish            116
Canadian            81
Hong Kong           64
Dutch               50
South African        8
New Zealander        5
Mexican              3
Australian           1
Rhodesian            1
East German          1
Belgian              1
Name: nationality_constr, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: number_qualy
	Valori unici: 3.0     447
11.0    432
5.0     427
7.0     422
14.0    408
8.0     402
10.0    389
20.0    388
6.0     387
9.0     383
4.0     361
16.0    355
18.0    323
2.0     305
22.0    298
19.0    294
12.0    294
1.0     291
21.0    286
23.0    266
17.0    266
15.0    265
77.0    182
44.0    181
55.0    162
27.0    158
26.0    147
33.0    143
31.0    125
24.0    113
25.0    108
63.0     82
99.0     78
28.0     68
30.0     67
47.0     44
94.0     39
13.0     38
88.0     35
29.0     31
35.0     21
0.0      15
32.0     12
98.0     11
34.0      4
53.0      2
36.0      2
51.0      2
45.0      2
40.0      1
89.0      1
39.0      1
46.0      1
Name: number_qualy, dtype: int64
	Numero di NaN: 16275
		First null value found in number_qualy: 878
---
---
	Colonna: position_qualy
	Valori unici: 3.0     448
2.0     448
13.0    448
12.0    448
1.0     448
10.0    448
11.0    448
9.0     448
17.0    448
5.0     448
6.0     448
15.0    448
16.0    448
14.0    448
7.0     448
8.0     448
4.0     448
18.0    444
19.0    436
20.0    433
21.0    215
22.0    207
23.0     90
24.0     82
26.0     20
25.0     20
27.0      1
28.0      1
Name: position_qualy, dtype: int64
	Numero di NaN: 16275
		First null value found in position_qualy: 878
---
---
	Colonna: q1_qualy
	Valori unici: \N          139
1:20.382      4
1:20.888      4
1:38.912      3
1:21.732      3
           ...
1:26.396      1
1:33.804      1
2:05.419      1
1:25.554      1
1:23.067      1
Name: q1_qualy, Length: 8423, dtype: int64
	Numero di NaN: 16283
		First null value found in q1_qualy: 878
---
---
	Colonna: q2_qualy
	Valori unici: \N          4250
1:17.788       3
1:15.322       3
1:31.010       3
1:37.347       3
            ...
1:47.308       1
1:15.597       1
1:11.658       1
1:29.567       1
1:31.532       1
Name: q2_qualy, Length: 4878, dtype: int64
	Numero di NaN: 16426
		First null value found in q2_qualy: 810
---
---
	Colonna: q3_qualy
	Valori unici: \N          6085
1:45.503       3
1:31.478       3
1:38.513       3
1:35.766       3
            ...
1:28.510       1
1:39.925       1
1:14.363       1
1:35.339       1
1:52.519       1
Name: q3_qualy, Length: 3071, dtype: int64
	Numero di NaN: 16574
		First null value found in q3_qualy: 810
---
---
	Colonna: resultId_results
	Valori unici: 2049     1
661      1
15026    1
8881     1
10928    1
        ..
23841    1
21792    1
11535    1
9486     1
2047     1
Name: resultId_results, Length: 25840, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: raceId_results
	Valori unici: 800    55
809    47
357    39
363    39
362    39
       ..
657    14
668    14
827    13
660    13
765    10
Name: raceId_results, Length: 1079, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: driverId_results
	Valori unici: 4      358
8      352
22     326
1      310
18     309
      ...
568      1
552      1
504      1
301      1
617      1
Name: driverId_results, Length: 855, dtype: int64
	Numero di NaN: 0
---
---
	Colonna: constructorId_results
	Valori unici: 6      2347
1      1831
3      1585
25      881
32      871
       ...
160       1
100       1
84        1
122       1
197       1
Name: constructorId_results, Length: 210, dtype: int64
	Numero di NaN: 0
---

## Analyze value for columns
Now after merges we need to understand witch is the:
1. NaN precence/manage it
2. Tipical value for each column
3. convert date in date format
4. convert time in millisecond

In [16]:
df=results_df[results_df['year_race']>=2004]

In [17]:
def time_to_ms(time_str):
    try:
        minutes, seconds = time_str.split(':')
        seconds, milliseconds = seconds.split('.')
        time = datetime.time(minute=int(minutes), second=int(seconds), microsecond=int(milliseconds)*1000)
        return (time.hour * 3600 + time.minute * 60 + time.second) * 1000 + time.microsecond // 1000
    except:
        return -1
for col in ['q1_qualy','q2_qualy','q3_qualy','fastestLapTime_results']:
    df[col]=df[col].astype(str)
    df[col] = df[col].apply(time_to_ms).astype(int)

/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/689465234.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=df[col].astype(str)
/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/689465234.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(time_to_ms).astype(int)

In [19]:
dtype={
    'date_race':datetime.datetime,
    'year_race':int,
    'round_race':int,
    'location_circuit':str,
    'country_circuit':str,
    'driverRef_driver':str,
    'dob_driver':datetime.datetime,
    'nationality_driver':str,
    'points_driver_st':float,
    'position_driver_st':int,
    'wins_driver_st':int,
    'number_results':int,
    'grid_results':int, 
    'position_results':int,
    'points_results':int,#<-TOFIX 
    'laps_results':int,
    'milliseconds_results':float,
    'fastestLap_results':float,
    'rank_results':int,
    'fastestLapTime_results':int,
    'fastestLapSpeed_results':float, 
    'status_status':str, 
    'constructorRef_constr':str,
    'points_contr_res':int, 
    'points_constr_std':float,
    'position_constr_std':int,
    'wins_constr_std':int, 
    'nationality_constr':str,
    'number_qualy':int,
    'position_qualy':int,
    'q1_qualy':int,
    'q2_qualy':int,
    'q3_qualy':int,
    'resultId_results':int, 
    'raceId_results':int,
    'driverId_results':int,
    'constructorId_results':int,
    'lap_lap':int,
    'position_lap':int,
    'milliseconds_lap':int  
}

def converter_int(x):
    try:
        return int(x)
    except:
        return -1
def converter_float(x):
    try:
        return float(x)
    except:
        return -1
def converter_str(x):
    try:
        return str(x)
    except:
        return "N"
    
for col in ['position_results','position_lap','lap_lap','milliseconds_lap','milliseconds_results','fastestLap_results','position_qualy','rank_results','position_constr_std','wins_constr_std','number_qualy']:
    print(col)
    df[col] = df[col].apply(converter_int)
    print(df[col].value_counts())
for col in ['fastestLapSpeed_results']:
    print(col)
    df[col] = df[col].apply(converter_float)
    print(df[col].value_counts())

df['points_driver_st']=df['points_driver_st'].fillna(0)
df['position_driver_st']=df['position_driver_st'].fillna(0)
df['wins_driver_st']=df['wins_driver_st'].fillna(0)
df['points_contr_res']=df['points_contr_res'].fillna(0)
df['points_constr_std']=df['points_constr_std'].fillna(0)

position_results
-1     1490
 4      366
 1      366
 3      366
 6      366
 5      366
 2      366
 8      365
 7      365
 9      364
 10     362
 11     359
 12     357
 13     352
 14     333
 15     309
 16     273
 17     229
 18     163
 19     104
 20      58
 21      30
 22      16
 23       5
 24       1
Name: position_results, dtype: int64
milliseconds_results
-1          4025
 4584572       2
 5535367       2
 5152531       2
 6004559       2
            ...
 5781757       1
 5699014       1
 4829903       1
 7267025       1
 6326271       1
Name: milliseconds_results, Length: 3703, dtype: int64
fastestLap_results
-1     352
 50    267
 52    259
 53    257
 51    238
      ...
 77     12
 78      6
 73      5
 80      3
 85      2
Name: fastestLap_results, Length: 80, dtype: int64
position_qualy
 4     366
 17    366
 15    366
 11    366
 7     366
 3     366
 14    366
 10    366
 6     366
 8     366
 2     366
 13    366
 9     366
 5     366
 1     366
 16    366
 12    366
 18    362
 19    354
 20    351
 21    153
 22    147
 23     58
 24     50
-1      34
Name: position_qualy, dtype: int64
rank_results
 2     365
 6     365
 4     365
 3     365
 1     365
 5     365
 9     364
 11    364
 10    364
 13    364
 12    364
 7     364
 14    363
 8     363
 15    362
 16    361
 17    355
 18    346
 19    311
 20    260
 0     212
-1     140
 21    122
 22     91
 23     43
 24     28
Name: rank_results, dtype: int64
position_constr_std
 4     732
 1     732
 5     732
 2     732
 6     732
 3     732
 8     730
 7     730
 9     723
 10    712
 11    304
 12    120
-1      20
Name: position_constr_std, dtype: int64
wins_constr_std
 0     5853
 1      592
 3      246
 2      242
 4      154
 5      138
 6      104
 7      100
 8       70
 9       50
 10      42
 11      30
 12      22
 13      20
-1       20
 14      16
 15      14
 16      10
 17       4
 18       2
 19       2
Name: wins_constr_std, dtype: int64
number_qualy
 11    364
 3     363
 5     346
 7     341
 20    325
 14    324
 8     320
 10    307
 6     303
 9     301
 16    286
 4     280
 18    275
 22    249
 19    231
 2     225
 1     224
 12    224
 21    222
 23    204
 17    199
 15    183
 77    182
 44    181
 55    162
 33    141
 27    126
 26    112
 31    110
 63     82
 24     79
 99     78
 25     77
 47     44
 94     39
 13     38
 28     36
 88     35
 30     35
-1      34
 35     21
 98     11
 51      2
 53      2
 45      2
 36      2
 39      1
 89      1
 40      1
 46      1
Name: number_qualy, dtype: int64
fastestLapSpeed_results
-1.000      352
 210.022      3
 207.249      3
 222.592      3
 201.512      3
           ...
 197.000      1
 170.851      1
 193.617      1
 221.814      1
 221.787      1
Name: fastestLapSpeed_results, Length: 6938, dtype: int64

/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/4278691106.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(converter_int)
/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/4278691106.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(converter_float)
/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/4278691106.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['points_driver_st']=df['points_driver_st'].fillna(0)
/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/4278691106.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['position_driver_st']=df['position_driver_st'].fillna(0)
/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/4278691106.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['wins_driver_st']=df['wins_driver_st'].fillna(0)
/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/4278691106.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['points_contr_res']=df['points_contr_res'].fillna(0)
/var/folders/53/j3ycd4px4b3f5byd28w1_3zw0000gn/T/ipykernel_36355/4278691106.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['points_constr_std']=df['points_constr_std'].fillna(0)

In [20]:
for col in df.columns:
    print('---')
    print(f'\tColonna: {col}')
    print(f'\tValori unici: {df[col].value_counts()}')
    #print(f'\tDescrizione: {results_df[col].describe()}')
    print('---')

---
	Colonna: date_race
	Valori unici: 2012-09-09    24
2012-05-27    24
2011-04-10    24
2010-08-01    24
2010-07-25    24
              ..
2005-05-08    18
2015-03-15    18
2005-05-22    18
2014-11-09    18
2014-11-02    18
Name: date_race, Length: 366, dtype: int64
---
---
	Colonna: year_race
	Valori unici: 2012    480
2016    462
2010    456
2011    456
2021    440
2022    440
2018    420
2019    420
2013    418
2014    407
2017    400
2006    396
2015    378
2005    376
2007    374
2008    368
2004    360
2009    340
2020    340
Name: year_race, dtype: int64
---
---
	Colonna: round_race
	Valori unici: 4     404
3     404
2     404
14    402
1     402
15    402
9     402
13    402
11    402
7     402
8     402
12    402
10    402
16    401
6     400
5     400
17    398
18    336
19    276
20    146
21    102
22     40
Name: round_race, dtype: int64
---
---
	Colonna: location_circuit
	Valori unici: Silverstone       422
Budapest          402
Montmeló          402
Monza             402
Sakhir            400
Spa               380
Monte-Carlo       380
São Paulo         378
Melbourne         362
Shanghai          342
Montreal          342
Suzuka            320
Kuala Lumpur      304
Abu Dhabi         296
Marina Bay        278
Spielberg         224
Hockenheim        214
Austin            206
Istanbul          192
Nürburg           170
Sochi             163
Mexico City       142
Imola             122
Baku              122
Valencia          112
Magny Cours       104
Yeongam County     94
Indianapolis       84
Le Castellet       80
Uttar Pradesh      70
Oyama              42
Jeddah             40
Zandvoort          40
Portimão           40
Miami              20
Al Daayen          20
Mugello            20
Name: location_circuit, dtype: int64
---
---
	Colonna: country_circuit
	Valori unici: Italy           544
Spain           514
UK              422
Hungary         402
Bahrain         400
Germany         384
Monaco          380
Belgium         380
Brazil          378
Australia       362
Japan           362
China           342
Canada          342
USA             310
Malaysia        304
UAE             296
Singapore       278
Austria         224
Turkey          192
France          184
Russia          163
Mexico          142
Azerbaijan      122
Korea            94
India            70
Saudi Arabia     40
Netherlands      40
Portugal         40
Qatar            20
Name: country_circuit, dtype: int64
---
---
	Colonna: driverRef_driver
	Valori unici: alonso               325
hamilton             310
raikkonen            302
vettel               300
massa                255
                    ...
gene                   2
aitken                 1
lotterer               1
de_vries               1
markus_winkelhock      1
Name: driverRef_driver, Length: 102, dtype: int64
---
---
	Colonna: dob_driver
	Valori unici: 1981-07-29    325
1985-01-07    310
1979-10-17    302
1987-07-03    300
1981-04-25    255
             ...
1971-01-25      2
1995-02-06      1
1980-06-13      1
1981-11-19      1
1995-09-23      1
Name: dob_driver, Length: 102, dtype: int64
---
---
	Colonna: nationality_driver
	Valori unici: German           1294
British           979
Finnish           615
Spanish           593
French            582
Brazilian         562
Italian           427
Australian        416
Mexican           296
Japanese          254
Dutch             240
Canadian          217
Russian           213
Danish            142
Monegasque        103
Polish             99
Swedish            97
Venezuelan         96
Austrian           79
Belgian            62
Indian             59
Thai               59
Swiss              55
Colombian          45
Portuguese         37
American           33
New Zealander      25
Chinese            22
Hungarian          18
Indonesian         12
Name: nationality_driver, dtype: int64
---
---
	Colonna: points_driver_st
	Valori unici: 0.0      1768
1.0       262
4.0       238
2.0       233
6.0       216
         ...
309.0       1
276.0       1
262.0       1
69.5        1
225.0       1
Name: points_driver_st, Length: 387, dtype: int64
---
---
	Colonna: position_driver_st
	Valori unici: 3.0     366
2.0     366
4.0     365
1.0     365
6.0     364
5.0     364
13.0    363
12.0    362
9.0     360
7.0     360
8.0     359
10.0    355
16.0    354
14.0    352
11.0    349
18.0    341
15.0    340
17.0    328
19.0    320
20.0    303
21.0    217
22.0    155
23.0    121
24.0     82
0.0      62
25.0     36
27.0     14
26.0      8
Name: position_driver_st, dtype: int64
---
---
	Colonna: wins_driver_st
	Valori unici: 0.0     6414
1.0      524
2.0      303
3.0      155
4.0       91
5.0       70
6.0       58
7.0       28
9.0       27
8.0       19
10.0      17
11.0      12
12.0       6
13.0       4
14.0       2
15.0       1
Name: wins_driver_st, dtype: int64
---
---
	Colonna: number_results
	Valori unici: 3     364
11    364
5     345
7     342
20    326
14    325
8     320
10    308
6     304
9     303
16    287
4     280
18    275
22    251
19    231
2     225
1     225
12    224
21    224
23    206
17    199
15    184
77    182
44    181
55    163
33    141
27    126
26    112
31    111
63     82
24     80
99     79
25     77
47     45
28     42
94     39
13     38
30     37
88     35
35     21
98     13
53      5
36      2
51      2
45      2
46      1
40      1
39      1
89      1
Name: number_results, dtype: int64
---
---
	Colonna: grid_results
	Valori unici: 17    368
12    366
3     366
1     366
5     366
9     366
6     366
4     366
2     365
8     365
7     365
14    365
10    364
11    364
15    364
13    364
16    364
18    362
19    359
20    331
21    152
22    150
0      57
23     56
24     54
Name: grid_results, dtype: int64
---
---
	Colonna: position_results
	Valori unici: -1     1490
 4      366
 1      366
 3      366
 6      366
 5      366
 2      366
 8      365
 7      365
 9      364
 10     362
 11     359
 12     357
 13     352
 14     333
 15     309
 16     273
 17     229
 18     163
 19     104
 20      58
 21      30
 22      16
 23       5
 24       1
Name: position_results, dtype: int64
---
---
	Colonna: points_results
	Valori unici: 0.0     4287
4.0      365
1.0      364
2.0      363
8.0      360
6.0      360
10.0     357
12.0     251
15.0     249
18.0     240
25.0     232
3.0      110
5.0      109
26.0      25
19.0      17
16.0       9
13.0       7
11.0       6
9.0        5
7.0        4
0.5        2
50.0       1
20.0       1
12.5       1
7.5        1
24.0       1
1.5        1
30.0       1
2.5        1
36.0       1
Name: points_results, dtype: int64
---
---
	Colonna: laps_results
	Valori unici: 56    591
70    543
53    522
55    443
57    438
     ...
22     16
12     16
4      13
75     13
74      3
Name: laps_results, Length: 80, dtype: int64
---
---
	Colonna: milliseconds_results
	Valori unici: -1          4025
 4584572       2
 5535367       2
 5152531       2
 6004559       2
            ...
 5781757       1
 5699014       1
 4829903       1
 7267025       1
 6326271       1
Name: milliseconds_results, Length: 3703, dtype: int64
---
---
	Colonna: fastestLap_results
	Valori unici: -1     352
 50    267
 52    259
 53    257
 51    238
      ...
 77     12
 78      6
 73      5
 80      3
 85      2
Name: fastestLap_results, Length: 80, dtype: int64
---
---
	Colonna: rank_results
	Valori unici:  2     365
 6     365
 4     365
 3     365
 1     365
 5     365
 9     364
 11    364
 10    364
 13    364
 12    364
 7     364
 14    363
 8     363
 15    362
 16    361
 17    355
 18    346
 19    311
 20    260
 0     212
-1     140
 21    122
 22     91
 23     43
 24     28
Name: rank_results, dtype: int64
---
---
	Colonna: fastestLapTime_results
	Valori unici: -1         352
 78262       4
 77495       4
 103026      4
 92210       3
          ...
 71248       1
 93775       1
 85579       1
 56905       1
 67583       1
Name: fastestLapTime_results, Length: 6772, dtype: int64
---
---
	Colonna: fastestLapSpeed_results
	Valori unici: -1.000      352
 210.022      3
 207.249      3
 222.592      3
 201.512      3
           ...
 197.000      1
 170.851      1
 193.617      1
 221.814      1
 221.787      1
Name: fastestLapSpeed_results, Length: 6938, dtype: int64
---
---
	Colonna: status_status
	Valori unici: Finished          3700
+1 Lap            1801
+2 Laps            404
Collision          313
Accident           218
                  ...
Not classified       1
Cooling system       1
Water pump           1
Excluded             1
Seat                 1
Name: status_status, Length: 91, dtype: int64
---
---
	Colonna: constructorRef_constr
	Valori unici: mclaren         732
ferrari         732
williams        732
red_bull        696
toro_rosso      536
mercedes        518
renault         490
sauber          428
force_india     424
haas            288
toyota          214
alfa            164
lotus_f1        154
bmw_sauber      140
alphatauri      122
hrt             116
caterham        112
marussia        109
honda           106
alpine           88
aston_martin     88
super_aguri      78
manor            78
virgin           76
racing_point     76
lotus_racing     76
minardi          74
jordan           74
bar              70
jaguar           36
brawn            34
spyker           34
mf1              28
spyker_mf1        8
Name: constructorRef_constr, dtype: int64
---
---
	Colonna: points_contr_res
	Valori unici: 0.0     3065
1.0      436
2.0      370
6.0      366
10.0     334
4.0      318
8.0      314
18.0     218
12.0     194
3.0      174
5.0      174
43.0     140
14.0     138
15.0     132
25.0     128
22.0      94
7.0       88
33.0      88
27.0      86
40.0      78
16.0      76
9.0       74
11.0      66
37.0      64
30.0      58
26.0      52
23.0      46
20.0      44
13.0      42
28.0      36
35.0      34
19.0      30
31.0      24
44.0      22
34.0      18
21.0      18
29.0      16
41.0      16
24.0      10
17.0      10
38.0      10
36.0       4
32.0       4
58.0       4
1.5        2
2.5        2
5.5        2
50.0       2
12.5       2
7.5        2
66.0       2
45.0       2
0.5        2
Name: points_contr_res, dtype: int64
---
---
	Colonna: points_constr_std
	Valori unici: 0.0      1238
1.0       196
8.0       174
4.0       154
5.0       148
         ...
421.0       2
576.0       2
338.0       2
393.0       2
246.0       2
Name: points_constr_std, Length: 517, dtype: int64
---
---
	Colonna: position_constr_std
	Valori unici:  4     732
 1     732
 5     732
 2     732
 6     732
 3     732
 8     730
 7     730
 9     723
 10    712
 11    304
 12    120
-1      20
Name: position_constr_std, dtype: int64
---
---
	Colonna: wins_constr_std
	Valori unici:  0     5853
 1      592
 3      246
 2      242
 4      154
 5      138
 6      104
 7      100
 8       70
 9       50
 10      42
 11      30
 12      22
 13      20
-1       20
 14      16
 15      14
 16      10
 17       4
 18       2
 19       2
Name: wins_constr_std, dtype: int64
---
---
	Colonna: nationality_constr
	Valori unici: British      2076
Italian      1464
Austrian      696
German        658
Swiss         592
French        578
Indian        424
Japanese      398
American      288
Malaysian     188
Russian       137
Spanish       116
Irish          74
Dutch          42
Name: nationality_constr, dtype: int64
---
---
	Colonna: number_qualy
	Valori unici:  11    364
 3     363
 5     346
 7     341
 20    325
 14    324
 8     320
 10    307
 6     303
 9     301
 16    286
 4     280
 18    275
 22    249
 19    231
 2     225
 1     224
 12    224
 21    222
 23    204
 17    199
 15    183
 77    182
 44    181
 55    162
 33    141
 27    126
 26    112
 31    110
 63     82
 24     79
 99     78
 25     77
 47     44
 94     39
 13     38
 28     36
 88     35
 30     35
-1      34
 35     21
 98     11
 51      2
 53      2
 45      2
 36      2
 39      1
 89      1
 40      1
 46      1
Name: number_qualy, dtype: int64
---
---
	Colonna: position_qualy
	Valori unici:  4     366
 17    366
 15    366
 11    366
 7     366
 3     366
 14    366
 10    366
 6     366
 8     366
 2     366
 13    366
 9     366
 5     366
 1     366
 16    366
 12    366
 18    362
 19    354
 20    351
 21    153
 22    147
 23     58
 24     50
-1      34
Name: position_qualy, dtype: int64
---
---
	Colonna: q1_qualy
	Valori unici: -1         138
 82356       3
 94398       3
 77123       3
 95517       3
          ...
 106121      1
 75398       1
 92834       1
 79484       1
 88061       1
Name: q1_qualy, Length: 6960, dtype: int64
---
---
	Colonna: q2_qualy
	Valori unici: -1        2567
 77788       3
 76687       3
 98417       3
 97347       3
          ...
 80594       1
 64206       1
 76492       1
 96970       1
 92159       1
Name: q2_qualy, Length: 4878, dtype: int64
---
---
	Colonna: q3_qualy
	Valori unici: -1         4550
 105503       3
 91478        3
 95766        3
 98513        3
           ...
 90785        1
 88738        1
 64166        1
 76456        1
 86614        1
Name: q3_qualy, Length: 3071, dtype: int64
---
---
	Colonna: resultId_results
	Valori unici: 20482    1
693      1
25209    1
21111    1
23158    1
        ..
23777    1
21728    1
25822    1
1242     1
20478    1
Name: resultId_results, Length: 7731, dtype: int64
---
---
	Colonna: raceId_results
	Valori unici: 341    24
337    24
852    24
860    24
864    24
       ..
75     18
76     18
917    18
926    18
916    18
Name: raceId_results, Length: 366, dtype: int64
---
---
	Colonna: driverId_results
	Valori unici: 4      325
1      310
8      302
20     300
13     255
      ...
850      2
827      1
28       1
851      1
856      1
Name: driverId_results, Length: 102, dtype: int64
---
---
	Colonna: constructorId_results
	Valori unici: 3      732
6      732
1      732
9      696
5      536
131    518
4      490
15     428
10     424
210    288
7      214
51     164
208    154
2      140
213    122
164    116
207    112
206    109
11     106
214     88
117     88
209     78
8       78
211     76
166     76
205     76
17      74
18      74
16      70
19      36
23      34
12      34
13      28
14       8
Name: constructorId_results, dtype: int64
---

In [21]:
#df.to_csv("data/processed/without_lap.csv",index=False,sep=",",decimal=".")
#df.to_csv("data/processed/with_lap.csv",index=False,sep=",",decimal=".")